name: Test
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'v*'

jobs:
  test-action: # make sure the action works on a clean machine without building
    name: Test normal use
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./
      with: 
        maven-master-password: fake-master-password
    - run: cat $HOME/.m2/settings.xml
    - run: cat $HOME/.m2/settings-security.xml